.ClosedItemTemplate {
  width: 100%;
  height: 100%;
  margin-top: 40px;
}
.CurrentAssigmentTemplate {
  width: 100%;
  height: 100%;
  margin-top: 40px;
}
.grid-container {
  display: grid;
  column-gap: 10px;
  grid-template-columns: auto auto auto;
  /* background-color: #2196f3; */
  padding: 10px;
}

.grid-item-closedTemplate {
  font-size: 30px;
  text-align: center;
  width: 500px;
  height: 150px;
  margin-top: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.grid-item-OpenTemplate {
  font-size: 30px;
  text-align: center;
  width: 500px;
  height: 150px;
  margin-top: 15px;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 8px;
}

.TicketBody {
  text-align: left;
  font-size: 15px;
  width: 100%;
  height: 75%;
  font-family: "Segoe UI", "Noto Sans";
  overflow: scroll;
  padding-top: 5px;
  padding-left: 3px;
}

.TicketHeader {
  display: flex;
  flex-wrap: nowrap;
  border-bottom: 1px solid rgb(219, 219, 219);
  background-color: aliceblue;
  width: 100%;
  height: 25%;
  font-family: "Segoe UI", "Noto Sans";
}
.TicketHeader-openTicket-flex1 {
  text-align: center;
  font-size: 30px;
  padding-right: 10px;
  padding-left: 10px;
}
.TicketHeader-openTicket-flex2 {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  vertical-align: middle;
  font-weight: bold;
}

.TicketHeader-openTicket-flex3 {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  vertical-align: middle;
  width: 200px;
  font-weight: 500;
  color: blue;
}

.TicketHeader-openTicket-flex4 {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  vertical-align: right;
  width: 100px;
  font-weight: bold;
  color: red;
}

.TicketHeader-openTicket-flex5 {
  text-align: center;
  font-size: 30px;
  line-height: 30px;
  vertical-align: right;
  padding-left: 90px;
  color: grey;
}
.TicketHeader-openTicket-flex5:hover {
  color: black;
  font-size: 35px;
}
.TicketHeader-closedTicket-flex1 {
  text-align: center;
  font-size: 30px;
  padding-right: 10px;
  padding-left: 10px;
}
.TicketHeader-closedTicket-flex2 {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  vertical-align: middle;
  font-weight: bold;
}

.TicketHeader-closedTicket-flex3 {
  text-align: center;
  font-size: 20px;
  line-height: 30px;
  vertical-align: middle;
  width: 200px;
  font-weight: 500;
  color: blue;
}
