.App {
  text-align: center;
  /* height: 1000px; */
}

.Header {
  height: 60px;
  width: 100%;
  float: left;
  position: fixed;
  font-family: "Times New Roman";
  font-weight: bold;
  font-size: 40px;
  color: #090;
  text-align: center;
  background-color: rgb(208, 255, 208);
}

.NavBar {
  text-align: left;
  height: 30px;
  width: 100%;
  float: left;
  margin-top: 60px;
  margin-bottom: 5px;
  position: fixed;
  background-color: #090;
}

.NavBar-btn-first {
  text-align: center;
  height: 20px;
  padding-bottom: 2px;
  width: 7%;
  border-right: 1px solid white;
  color: white;
  vertical-align: top;
  display: inline-block;
  margin: 1px;
  margin-top: 3px;
}

.NavBar-btn {
  text-align: center;
  height: 20px;
  padding-bottom: 2px;
  width: 7%;
  border-right: 1px solid white;
  color: white;
  vertical-align: top;
  display: inline-block;
  margin: 1px;
  margin-left: 4px;
  margin-top: 3px;
}

.NavBar-btn-first:hover,
.NavBar-btn:hover {
  background-color: rgb(208, 255, 208);
  border-top: 1px solid black;
  border-left: 1px solid black;
  color: black;
}
